{% extends "header.html" %}
{% block body %}

<div class="hp-aboutme">
	<a name="aboutme"></a>
	<h1>Hi! My name is Denis Mishankov</h1>
	<h2>And here you can take your fist glance on who I am</h2>
	<p>Here are quick links to my <a class="github-link" href="https://github.com/mishankov" target="_blank">GitHub</a>, <a class="instagram-link" href="https://www.instagram.com/bigrightleg/" target="_blank">Instagram</a> and <a class="soundcloud-link" href="https://soundcloud.com/mishok44" target="_blank">SoundCloud</a></p>
</div>

<div class="hp-job">
	<a name="job"></a>
	job
</div>

<div class="hp-github">
	<a name="github"></a>
	github
</div>

<div class="hp-instagram">
	<a name="instagram"></a>
</div>

<div class="hp-soundcloud">
	<a name="soundcloud"></a>
	<div class="hp-content hp-soundcloud-content">
		<div class="hp-soundcloud-header">
			<h1>I have even made some music</h1>
		</div>
		<div class="hp-soundcloud-text">
			<p>After a year of playing for the university basketball team, I have got injure. I had to do something with myself. In the end, I found myself a wonderful hobby for 3-4 years</p>
			<p>You can check my favorites my tracks below. Or you can go to my SoundCloud page to fing 3 hours of this stuff</p>
		</div>
		<div class="hp-soundcloud-frame">
			<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/677715459&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
		</div>
	</div>
</div>

<div class="hp-prefooter"></div>

<div class="hp-footer">
	<a name="footer"></a>
	footer
</div>

<script src="{{ url_for('static', filename='homepage.js') }}"></script> 
{% endblock %}