{% extends "header.html" %}
{% block body %}
<div class="section intro">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h1>Denis Mishankov</h1>
        <h3>Doing this code stuff</h3>
      </div>
      <div class="one-half column">
        <img class="u-max-full-width round-img" src="{{ url_for('static', filename='images/me-hack-square.jpg') }}">
      </div>
    </div>
  </div>
</div>

<div class="section quicklinks">
	<h1 class="section-heading">Quick links</h1>
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <h2 class="quicklinks-multiplier github"><i class="fab fa-github-square"></i></h2>
        <h5 class="quicklinks-heading">Open source</h5>
        <p class="quicklinks-description">Here I store my projects. More about projects...</p>
      </div>
      <div class="one-third column">
        <h2 class="quicklinks-multiplier instagram"><i class="fab fa-instagram"></i></h2>
        <h5 class="quicklinks-heading">I got nice right leg!</h5>
        <p class="quicklinks-description">And you can check its photos on instagram. More about photos...</p>
      </div>
      <div class="one-third column">
        <h2 class="quicklinks-multiplier soundcloud"><i class="fab fa-soundcloud"></i></h2>
        <h5 class="quicklinks-heading">Made some sounds</h5>
        <p class="quicklinks-description">I like to do stuff that has some ... Music is one of it. More about music...</p>
      </div>
    </div>
  </div>
</div>

<div class="section projects">
  <div class="container">
    <h3 class="section-heading">Nicest projects</h3>
    <p class="section-description">At least I think so</p>
    <div class="row">
      <div class="one-half column project">
        <figure class="imghvr-fade">
          <img class="u-max-full-width" src="{{ url_for('static', filename='images/dlogging.png') }}">
          <figcaption>
              // Hover Content
          </figcaption>
        </figure>
      </div>
      <div class="one-half column project">
        <img class="u-max-full-width" src="{{ url_for('static', filename='images/placeholder.png') }}">
      </div>
    </div>
  </div>
</div>

<div class="section get-help">
  <div class="container">
    <h3 class="section-heading">Need help getting started?</h3>
    <p class="section-description">Skeleton is an amazingly easy place to start with responsive development. If you want to learn more, just visit the documentation!</p>
    <a class="button button-primary" href="http://getskeleton.com">View Skeleton Docs</a>
  </div>
</div>


<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script> 
{% endblock %}